# Formatting & Linting
black==25.1.0
flake8==7.3.0
isort==6.0.1
mypy_extensions==1.1.0
pycodestyle==2.14.0
pyflakes==3.4.0

# Testing
pytest==8.4.1
pytest-cov==6.2.1
coverage==7.9.1

# Packaging
twine==6.1.0
readme_renderer==44.0
wheel==0.45.1
setuptools==80.9.0

# Misc
platformdirs==4.3.8
pathspec==0.12.1
