# Core functionality
pandas==2.3.0
numpy==2.3.1
matplotlib==3.10.3
seaborn==0.13.2
scikit-learn==1.7.0
scipy==1.16.0
tqdm==4.67.1
openpyxl==3.1.5
xlrd==2.0.2
textblob==0.19.0
nltk==3.9.1
colorama==0.4.6
requests==2.32.4

# Optional
gspread==6.2.1
oauthlib==3.3.1
google-auth==2.40.3
google-auth-oauthlib==1.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
rsa==4.9.1

# Web deployment
gunicorn==23.0.0

